body{
	width: 90%;
	max-width: 800px; 
	margin: auto;
	font-family: Verdana, Geneva, sans-serif;
}


/*table*/

table{
	width: 100%;
	border-collapse: collapse;
}

td{
	vertical-align: top;
	line-height: 34px;
}

tr:nth-child(even){
	background-color: #e6e6e6;
}


/*links*/

a{
	color: #0000CD;
	text-decoration: none;
}

a:hover{
	color: red;
	text-decoration: none;
}


/*top navigator*/

.topnav{
	overflow: hidden;
	font-weight: bold;
	background-color: #d9d9d9;
}

.topnav a{
	float: left;
	line-height: 30px;
	padding: 0px 15px;
	color: black;
}

.topnav a:hover{
	background-color: #0000CD;
	color: white;
}

.topnav a.active{
	background-color: #0000CD;
	color: white;
}

.lang{
	float: right;
	font-size: 75%;
	font-weight: normal;
}


/*header*/
.head{
	height: 65px;
}


/*main in homepage*/
.main{
	float: left;
	width: 75%;
}

/*fig in homepage*/
.fig{
	float: right;
	width: 25%;
	padding: 70px 0px 10px 0px;
}

@media only screen and (max-width: 640px) {
  /* For mobile phones: */
	.topnav a{
		width: 100%;
	}
	.lang{
		width: 100%;
	}
	.main{
		width: 100%;
	}
	.fig{
		width: 70%;
		padding: 30px 15% 10px 15%;
	}
}

/*footer*/

.footer{
	font-size: 90%;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 10px;
}


