body{
	width: 70%; 
	margin: auto;
	font-family: Verdana, Geneva, sans-serif;
}

/*table*/

table{
	width: 100%;
	border-collapse: collapse;
}

td{
	vertical-align: top;
	padding: 6px 0px;
}

tr:nth-child(even){
	background-color: #e6e6e6;
}

/*links*/

a{
	color: #0000CD;
	text-decoration: none;
}

a:hover{
	color: red;
	text-decoration: none;
}

/*top navigator*/

.topnav{
	overflow: hidden;
	font-weight: bold;
	background-color: #d9d9d9;
}

.topnav a{
	float: left;
	padding: 4px 15px;
	color: black;
}

.topnav a:hover{
	background-color: #0000CD;
	color: white;
}

.topnav a.active{
	background-color: #0000CD;
	color: white;
}

/*footer*/

footer{
	font-size: 90%;
	text-align: center;
}


